// Famous & social media Colors
$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$pinterest: #bd061e;
$instagram: #e23f5c;
$linkedin: #007bb5;
$github: #000000;
$snapchat: #fdfc02;
$reddit: #ff4500;
$youtube: #ff0000;
$whatsapp: #4dc247;
$quora: #a82400;
$dropbox: #007ee5;
$flickr: #ff0084;
$tumblr: #32506d;
$vk: #45668e;
$spotify: #00e461;
$behance: #1769ff;

//= CSS Global Variables
:root {
  --mainColor: #0549EB;
  --darkColor: #003FD4;
  --secondaryColor: #37DEF5;
  --textColor: #000000;
  --paragraphsDark: #515457;
  --paragraphsGery: #777;
  --bgColor: #F7F7FA;
  --font: Fairuz, sans-serif;
  --alt-font: URWDINArabic;
}