@import "../../../styles/mixins";
@import "../../../styles/extends";

.Download {
  margin-top: 100px;
  background-image: url('/assets/images/callToAction.svg');
  background-size: cover;

  .info {
    padding: 100px 0 25px;

    @include xl {
      padding: 100px 0 60px;
    }

    @include lg {
      padding: 100px 0;
    }

    @include md {
      padding: 100px 0 0;
    }

    @include sm {
      padding: 100px 0;
    }

    h3 {
      font-size: 36px;
      font-weight: bold;
      color: #fff;

      @include lg {
        font-size: 32px;
      }

      @include md {
        font-size: 26px;
      }
    }

    p {
      color: #eee;
      margin-top: 25px;
      margin-bottom: 35px;
      font-size: 15px;
      font-weight: 100;

      @include md {
        width: 100%;
        font-size: 14px;
      }
    }

    .download {
      img {
        width: 250px;
        height: auto;
      }
    }
  }

  .image {
    height: 100%;
    padding: 40px 0 0;
  }
}