@import "../../../styles/mixins";

footer {
  background-color: var(--mainColor);
  font-family: var(--alt-font);
  color: #fff;
  padding: 35px 0 0;

  img {
    width: 80px;
    height: auto;
    margin-bottom: 25px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  ul {
    li {
      color: #eee;
      font-size: 14px;
      margin: 15px 0;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #aaa;
      }

      i {
        margin-inline-end: 10px;
      }
    }
  }

  .description {
    color: #cacaca;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .social {
    i {
      margin-inline-end: 20px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #c5c5c5;
      }
    }
  }

  .copyright {
    margin-top: 80px;
    margin-bottom: 0;
    background-color: var(--darkColor);
    color: #fff;
    padding: 15px 0;
    height: 50px;
    font-size: 14px;
    color: #eee;
    text-align: center;
  }
}